<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>hellooo!</title>
		<link rel="stylesheet" href="/styles/global.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body>
		<div class="container">
			<h2 class="right-howers wide h3">Navigation</h2>
			<a href="/" class="btn">Home</a>
        	<a href="/about" class="btn" target="_blank">About</a>
			<a href="#num20" class="btn">Jump to 20</a><br><br>
		</div>

		<div class="container wide">
			<h1 class="center h1 crafteds">hey, matthew here.</h1>
			<h1 class="center h1 crafteds">have a seat</h1>
		</div>

		<div class="container">
			<a href="https://www.youtube.com/@YrLcl16thNt" target="_blank"><i class="fa-brands fa-youtube" style="font-size: 1.5rem; color: #303040;"></i></a>
		</div>

		<h1 class="h2">WORK IN PROGRESS</h1>
		
		<h2 class="h2">1</h2>
		<h2 class="h2">2</h2>
		<h2 class="h2">3</h2>
		<h2 class="h2">4</h2>
		<h2 class="h2">5</h2>
		<h2 class="h2">6</h2>
		<h2 class="h2">7</h2>
		<h2 class="h2">8</h2>
		<h2 class="h2">9</h2>
		<h2 class="h2">10</h2>
		<h2 class="h2">11</h2>
		<h2 class="h2">12</h2>
		<h2 class="h2">13</h2>
		<h2 class="h2">14</h2>
		<h2 class="h2">15</h2>
		<h2 class="h2">16</h2>
		<h2 class="h2">17</h2>
		<h2 class="h2">18</h2>
		<h2 class="h2">19</h2>
		<h2 class="h2" id="num20">20</h2>
		<h2 class="h2">21</h2>
		<h2 class="h2">22</h2>
		<h2 class="h2">23</h2>
		<h2 class="h2">24</h2>
		<h2 class="h2">25</h2>
		<h2 class="h2">26</h2>
		<h2 class="h2">27</h2>
		<h2 class="h2">28</h2>
		<h2 class="h2">29</h2>
		<h2 class="h2">30</h2>
		<h2 class="h2">31</h2>
		<h2 class="h2">32</h2>
		<h2 class="h2">33</h2>
		<h2 class="h2">34</h2>
		<h2 class="h2">35</h2>
		<h2 class="h2">36</h2>
		<h2 class="h2">37</h2>
		<h2 class="h2">38</h2>
		<h2 class="h2">39</h2>
		<h2 class="h2">40</h2>

		<h3 class="h3">end of page :p</h3>
	</body>
</html>
